@model string

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
    <body>
        <h2>Extended URL</h2>

        <p>The original URL is:</p>
        <p>@Model</p>
    </body>
</html>